*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background-color: royalblue;
    width: 100%;
    height: 100vh;
}

.center h1{
    text-align: center;
    padding: 50px;
    color: white;
}
.center h3{
    text-align: center;
    padding: 20px;
    color: white;
}
span{
    color: gold;
    font-size: 50px;
}

.small{
   width: 100px !important;
}
.center_btn button{
    margin-top: 60px;
    background-color: gold;
    color: white;
    border: none;
    width: 200px;
    height: 100px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 50px;
}

.center_btn{
    text-align: center;
    box-shadow: none;
}
button:hover{
    transition: 0.9s;
    color: blue;
}

.center button:active{
    transform:scale(00.8);
}

.top h1{
    text-align: center;
    color: gold;
    padding: 30px;
    font-size: 70px;
}

.flex-player{
    display: flex;
    justify-content: space-evenly;
}
.html_block{
    display: none;
}

.flex-player h1{
  padding: 15px;
  color: gold;
  font-size: 40px;
  width: 100px;
}

.flex-player button{
    width: 150px;
    height: 30px;
    background-color: gold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
}

.flex-player button:active{
    transform: scale(0.7);
}

.game-start{
    display: none;
}

.flex-player h3{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 40px;
    font-family: fantasy;
}

.flex-player h2{
    text-align: center;
    color: yellow;
    font-size: 30px;
    padding: 20px;
}

.btn-old{
    border: 2px solid red;
}